<div class="topbar not-stuck">
  <div id="title"><a id="title" href="/">AdoptMe.me</a></div>
  <div id="subtitle">All the animals you see on this site are available for adoption. Caption and share to help.</div>
</div>