<h1>Hi, I'm <%= pet.name %>!</h1>
<p><%= pet.description %></p>
<p><a class="btn emph" href='<%="http://www.petfinder.com/petdetail/"+pet.petfinder_id%>'>Adopt <i class="fa fa-heart"></i></a> 
   <a class="btn" href="/<%= pet.image_id %>/new">Recaption <i class="fa fa-comment"></i></a></p>