<a href='<%="/#"+image.id+"/new" %>'>
	<img src="<%= image.amazon_aws_url %>">
        <div class="hovertext">
          <a href='<%="/#"+image.id+"/new" %>' class="btn nav"><i class="fa fa-comment-o"></i> Caption</a>
      </div>

      <a href='<%="/#"+image.id+"/new" %>' >
      <div class="hovercard"></div>
      </a>
</a>


