  <div class="adoptmeme-hero">
      <p>Contribute humor to help cats in need.</p>
  </div>

  <div class="topbar not-stuck">
    <a id="title" href="/">AdoptMe.me</a>
    <span id="subtitle">All the animals you see on this site are available for adoption.</span>
  </div>