<h1>Pet's Index Page</h1>

<% @pets.shuffle.each do |pet| %>
  <% if !!pet.images.sample %>
  <a href='<%= "#{pet.id}/new" %>'>
    <div class="cat-tile" style="background-image: url(<%= pet.images.sample.amazon_aws_url %>);"></div>
  </a>
  <% end %>
<% end %>