
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">

  <label for="email:">Email:</label>
  <input type="text" name="user[email]" value="" id="email:" placeholder="user@example.com">

  <br>

  <label for="password">Password: </label>
  <input type="password" name="user[password]" value="" id="password">