<div class="editor-container">
  <h1> <%= pet.name %> </h1>

  <form>
    <input type="hidden" name="caption[image_id]" value="<%= image.id %>">
    <input type="hidden" name="caption[captioner_id]" value="1">

<input type="text" name="caption[top_text]" placeholder="Top text" id="toptext" autocomplete="off" autofocus>
  <br>
    <div class="canvas-container">
        <canvas id="catCanvas"></canvas>
    </div>
    <br><input type="text" name="caption[bottom_text]" placeholder="Bottom text" id="bottomtext" autocomplete="off">
    <div class="loadmsg" hidden>One moment please...</div>

  <div class="btn submit" action="submit">Create meme!</a>
  </form>
</div>