@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800|Roboto+Slab:400,800);

$font-stack: Open Sans, Helvetica, sans-serif;
$header-font-stack: Roboto Slab, Rockwell, Open Sans, sans-serif;
$dark-text-color: #333;
// $light-background: #A5FFFA;
// $light-background: #12B8B0;
$light-background: #12B8B0;
$dark-background: #00B3AB;
// $icon-color: #002422;
$icon-color: #004A46;
$hyperlink-color: #A9E6DB;
$dark-color2: #006662;
$highlight: #EAFFFA;
$cat-tile-outline: #B8FFDD;
$btn-color: #E64F00;
$btn-hover-color: #993500;

body, html {
  font-family: $font-stack;
  color: $dark-text-color;
  padding: 0px;
  height: 100%;
  background-color: $dark-background;
}

h1, h2, h3 {
  font-family: $header-font-stack;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em
}

.editor-container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  magin: 0px auto;
  input {
    text-transform: uppercase;
  }
  .canvas-container {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .btn-group {
    display: inline-block;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    font-size: 30px;
    width: 30%;
    border: 1px solid $dark-color2;
    margin-top: 5px;
    margin-bottom: 0px;
    a {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      padding: 10px;
      width: 33%;
      color: $dark-color2;
      background-color: $highlight;
    }

    a.selected {
      color: $highlight;
      background-color: $dark-color2;
    }
  }

  a.submit:active {
      position: relative;
      background-color: red;
      top: 2px;
  }

}

.btn.submit {
  display: block;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-family: $header-font-stack;
  font-weight: heavy;
  color: $highlight;
  background-color: $btn-color;
  font-size: 1em;
  text-transform: uppercase;
}

.btn.submit:hover {
    background-color: $btn-hover-color;
  }

.btn.nav {
  display: block;
  text-align: center;
  vertical-align: center;
  valign: center;
  padding: 10px;
  margin: 0 auto;
  font-family: $header-font-stack;
  font-weight: heavy;
  color: $highlight;
  background-color: $icon-color;
  font-size: 1em;
  text-transform: uppercase;
}

input[type=text] {
  display: inline-block;
  font-family: $header-font-stack;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  border: none;
  font-size: 30px;
  width: 100%;
  background-color: $highlight;
  color: $icon-color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.sidebar {
  color: $highlight;
  box-sizing: border-box;
  width: 25%;
  max-width: 400px;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 10px;
  position: fixed;
  p {
    font-size: 1.35em;
    line-height: 125%;
    padding: 10px;
  }
}

.content-container {
  margin-left: 25%;
  box-sizing: border-box;
  background-color: $light-background;
  min-height: 100vh;

  .inner-container {
    width: 500px;
    padding-top: 25px;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: $hyperlink-color;
}

.cat-tile-container {
  width: 95%;
  padding-top: 5px;
  margin: 0px auto;
  border: 0px solid blue;
  overflow: auto;
}

.cat-tile-column {
 margin-right: 1.5%;
 margin-left: 1.5%;
 padding-top: 20px;
 width: 30%;
 border: 0px solid #00DA55;
 float: left;
}

@mixin hoverable {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cat-tile {
  border: 1px solid $cat-tile-outline;
  margin-bottom: 10px;
  /*border-radius: 0px 0px 10px 10px;*/
  background-size: cover;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
  .cat-name {
    background-color: $dark-background;
    color: $light-background;
    padding: 0px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    h3 {
      border: none;
      font-size: 1.25em;
    }
  }

  .hovercard {
    @include hoverable;
    background-color: $dark-color2;
    opacity: 0.3;
    z-index: 99;
  }

  .hovertext{
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    // text-align: center;
    color: $dark-background;
    font-size: 20px;
    .fa {
      font-size: 2em;
    }
  }
}

.center {
  margin: 0 auto;
}

p {
  font-size: 1.35em;
  line-spacing: 100%;
  padding: 10px;
}