<h1><a href="/">AdoptMe.me</a></h1>

<p>
  All of the animals you see on AdoptMe.me are in need of adoption.
</p>

<p>
  Contribute humorous captions to help them find homes.
</p>

<p>
  <a href="/captions">Captions</a>
</p>

<p>
  Built by <a href="http://www.github.com/jhamon">Jennifer Hamon</a>.  Hire me!
</p>